.btn {
  padding: 0.25rem 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  opacity: 0.8;
}
.primary {
  font-weight: 700;
  background-color: var(--color-brand--2);
  font-size: 2rem;
}
.back {
  font-weight: 700;
  background-color: var(--color-dark--0);
  color: white;
  font-size: 2rem;
}
