.homepage {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-image: url("home.jpg");
  background-size: cover;
  background-position: center;
  padding: 1.5rem 5rem;
}
.homepage section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  text-align: center;
  gap: 2.5rem;
  margin: 0 auto;
}
.homepage h1 {
  font-size: 4.5rem;
  line-height: 1.3;
  color: white;
}
.homepage h2 {
  width: 90%;
  font-size: 1.9rem;
  color: var(--color-light--1);
  /* margin-bottom: 2.5rem; */
}
