.pageNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageNav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
pageNav ul li {
  margin: 0 10px;
  padding: 10px 8px;
}
.pageNav :global(.active) {
  color: var(--color-brand--2);
}
